
<p>Dear {{user}},</p>

<p>Thank you for registering with us, to please activate your account by clicking the link below:</p>

<p>
    <a href="{{protocol}}{{full_activation_url}}">Activate my account </a>
</p>

<p>If the link doesn't work, you can copy and paste the following URL into
    your
    browser:</p>
    {{protocol}}{{full_activation_url}}

<p> Your username is: <strong>{{user}}</strong></p>
<p>Your password is: <strong>{{password}}</strong></p>


<p>For security purposes, this activation link will expire in One (1) hour.
    If you
    need a new link, please contact us or request another activation email.
</p>

<p>Upon login, please change your password and update your profile, First Name, Last Name, Department, Location and Phone</p>

<p>If you have any questions, feel free to reach out to our support team at <a
        href="mailto:kingship.lc@gmail.com">kingship.lc@gmail.com</a>.
</p>

Best regards,
<p>{{domain}}</p>
