asgiref==3.8.1
crispy-bootstrap5==2024.10
django==5.1.5
django-crispy-forms==2.3
django-pwa==2.0.1
gunicorn==23.0.0
markdown==3.7
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
six==1.17.0
sqlparse==0.5.3
