{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="py-5">
    <form method="GET"
        action="{% url 'list' %}">
        <div class="col-lg-3 mx-auto px-lg-0">
            <input class="form-control"
                type="text"
                name="search"
                value="{{ search_query }}"
                placeholder="Search complaints...">
            <p class="text-end"><a class="text-muted me-2"
                    href="{% url 'list' %}">reset</a></p>
        </div>
        <br>
        {% if request.user.role == "chief engineer" %}
        <div class="col-lg-3 mx-auto mt-2 mt-lg-0">
            <select id="filter-zones"
                name="zone"
                onchange="this.form.submit()">
                <option value="">All Zones</option>
                {% for zone in zones %}
                <option value="{{ zone.id }}"
                    {% if zone.id|stringformat:'s' == zone_filter %}
                    selected
                    {% endif %}>
                    {{ zone }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <!-- <div class="col">
                <select name="category">
                    <option value="">All Categories</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == category_filter %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div> -->
        <!-- <div class="col">
                <select name="sort"onchange="this.form.submit()">
                    <option value="created_at" {% if sort_by == 'created_at' %}selected{% endif %}>Created At</option>
                    <option value="name" {% if sort_by == 'name' %}selected{% endif %}>Name</option>
                </select>
            </div> -->
    </form>
    <br>
    <div class="d-flex justify-content-center">
        {% include 'complaints/includes/pagination.html' %}
    </div>

    {% for ob in object_list %}
    <div class="row col-lg-4 mx-auto">
        <a class="link"
            href="{% url 'detail' ob.slug %}">
            <div class="rounded-4 p-3 mb-3 shadow bg-white">

                <span class="fw-bold">{{ob.ref|upper}}</span>
                <br><br>
                <span>{{ob.name}}</span><br>
                <span>{{ob.phone}}</span><br>
                {% if ob.email %}
                <span>{{ob.email}}</span><br>
                {% endif %}
                {% if ob.address %}
                <span>{{ob.address}}</span>
                {% endif %}

                <br><br>
                <span>{{ob.complaint|truncatechars:100|capfirst}}</span>
                <br><br>
                <span class="small text-muted text-end">updated:
                    {{ob.updated_at|naturaltime}}
                    ({{ob.updated_at}})</span><br>

            </div>
        </a>
    </div>


    <!-- <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a
                            href="{% url 'detail' ob.slug %}">{{ob.ref|upper}}</a>
                    </td>
                    <td>{{ob.get_contact_info}}</td>
                    <td>{{ob.zone}}</td>
                    <td class="h-col">{{ob.complaint|truncatechars:100|capfirst}}</td>

                </tr> -->
    {% empty %}

    <div class="d-flex justify-content-center">
        <p class="text-center">No complaints</p>
    </div>

    {% endfor %}
    <br>
    <div class="d-flex justify-content-center">
        {% include 'complaints/includes/pagination.html' %}
    </div>
</div>
{% endblock content %}