{% extends 'base.html' %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>{{object|title}}</h1>
    <hr>
    <p>{{object.complaint}}</p>
    <p>{{object.address|title}}, {{object.phone}}</p>
    <p>{{object.created_at}}</p>
    <hr>
    <!-- <p>Status/Priority: {{ticket.status|title}}/{{ticket.priority|title}}</p> -->
    <p>Investigating officer:
    {{ complaint_investigator|default:"-" }}
    </p>
    <p>
    <form action=""
        method="post">
        {% csrf_token %}
        {{ci_form|crispy}}
        <button type="submit">Submit</button>
    </form>
    </p>


    <p title="created"
        class="text-end text-muted small"><a class="text-muted"
            href="">{{ticket.created_by.first_name}}</a>
        {{ticket.created_at|naturaltime}}</p>
    <hr>

    <!-- {% if request.user.role == "agent" or request.user.role == "admin" %}
    <a href="">Update</a>
    {% endif %} -->
</div>
{% endblock content %}