{% if object_list.has_next or object_list.has_previous %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if object_list.has_previous %}
        <a class="text-decoration-none"
            href="?page=1"> first</a>
        <a class="text-decoration-none mx-2"
            href="?page={{ object_list.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if zone_filter %}&zone={{ zone_filter }}{% endif %}"
            aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
        {% for num in object_list.paginator.page_range %}
        <a class="mx-2 {% if object_list.number != num %} text-decoration-none {% endif %}"
            href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}{% if zone_filter %}&zone={{ zone_filter }}{% endif %}">
            {{ num }}</a>
        {% endfor %}
        {% if object_list.has_next %}
        <a class="text-decoration-none"
            href="?page={{ object_list.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}{% if zone_filter %}&zone={{ zone_filter }}{% endif %}"
            aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        <a class="text-decoration-none mx-2"
            href="?page={{ object_list.paginator.num_pages }}"> last</a>
        {% endif %}
    </ul>
</nav>
{% endif %}