{% load static %}
{% load pwa %}

<!doctype html>
<html lang="en">

<head>
    {% progressive_web_app_meta %}

    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">

    <title>Complaints - INFR</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet"
        href="{% static 'css/select2.min.css' %}">
    <script src="{% static 'js/select2.min.js' %}"></script>
    <link rel="stylesheet"
        href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="{% static 'css/montserrat.css' %}">

    <link rel="stylesheet"
        href="{% static 'css/styles.css' %}">
</head>

<body class="container-fluid min-vh-100">
    {% include 'top.html' %}

    {% include 'messages.html' %}
    <div class="py-5 my-5">
        {% block content %}

        {% endblock content %}
    </div>
    {% include 'bottom.html' %}



    <script>
        var commonClasses = 'form-control form-control-sm rounded-2 border border-secondary'
        $('button[type="submit"]').addClass('btn btn-dark rounded-2 px-5');
        $('input[type="text"]').addClass(commonClasses);
        $('input[type="password"]').addClass(commonClasses, 'rounded-2');
        $('input[type="email"]').addClass(commonClasses);
        $('input[type="file"]').addClass('rounded-2');
        $('select').addClass(commonClasses);
        $('textarea').addClass(commonClasses);
        $('a').addClass('text-dark');
        $('.page').addClass('badge text-bg-dark text-white text-decoration-none');
        $('#filter-zones').select2();
        $('#id_investigators').select2();
        $('#id_zone').select2();
        $('#id_engineer').select2();
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>

</html>
