{% load static %}
{% load pwa %}

<!doctype html>
<html lang="en">

<head>
    {% progressive_web_app_meta %}

    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1">

    <title>Complaints - INFR</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="stylesheet"
        href="{% static 'css/select2.min.css' %}">
    <script src="{% static 'js/select2.min.js' %}"></script>
    <link rel="stylesheet"
        href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="{% static 'css/montserrat.css' %}">

    <link rel="stylesheet"
        href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon"
        href="{% static 'images/logo1.png' %}"
        type="image/x-icon">
</head>

<body class="container-fluid min-vh-100">
    {% include 'top.html' %}

    {% include 'messages.html' %}
    <div class="py-5 my-5 min-vh-100">
        {% block content %}

        {% endblock content %}
    </div>
    {% include 'bottom.html' %}
    {% include 'footer2.html' %}

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
</body>

</html>
