{% load static %}
{% if request.user.is_authenticated %}

<div class="fixed-bottom">
    <p class="text-end me-3">
        <a class="text-dark"
            href="#"><img src="{% static 'icons/top.svg'%}"
                alt="{% static 'icons/top.svg'%}"></a>
                <br>
        <a class="text-dark"
            href="mailto:kingship.lc@gmail.com">
            &copy; {% now "Y" %}
            kingship
        </a>


    </p>
    <div class="d-flex justify-content-around bg-dark pt-2 pb-lg-2 pb-4">

        <a href="#"
            onclick="history.back()"><img src="{% static 'icons/back.svg'%}"
                alt="{% static 'icons/back.svg'%"></a>
        <a class="text-white"
            href="/"><img src="{% static 'icons/home.svg'%}"
                alt="{% static 'icons/home.svg'%"></a>
        <a class="text-white"
            href="{% url 'create' %}"><img src="{% static 'icons/add3.svg'%}"
                alt="{% static 'icons/add3.svg'%"></a>
        <!-- <a class="text-white"
            href=""><img src="{% static 'icons/profile.svg'%}"
                alt="{% static 'icons/profile.svg'%"></a> -->
    </div>
</div>
{% endif %}