<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
<br>

<!-- <button class="btn btn-primary"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#staticBackdrop"
    aria-controls="staticBackdrop">
    Toggle static offcanvas
</button> -->