{% load static %}

{% if request.user.is_authenticated %}
<div class="fixed-top text-bg-dark">
    <div class="container">

    <div class="d-flex justify-content-between align-items-center mx-3">
            <h1 class="display-4"> <a class="text-decoration-none text-white"
                    href="/">Complaints</a></h1>
            <a class="text-white"
                title="{{request.user|title}} - {{request.user.role|title}}"
                href="{% url 'user-detail' %}"><img
                    src="{% static 'icons/profile.svg'%}"
                    alt="{% static 'icons/profile.svg'%"></a>

        </div>
    </div>
</div>
{% endif %}
